.layout {
    display: flex;
    flex-flow: column;
    background-color: #0079BF;
    position: absolute;
    width: 1235px;
    height: 700px;
  
    main {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 24px 16px;
    }
}